h1 {
    margin: 0;
    margin-top: 0.5em;
    font-size: 1.5em;
}

h2 {
    margin: 0;
    margin-top: 1em;
}

main {
    width: 50%;
    text-align: justify;
}

#logo {
    width: 4em;
    margin: auto auto;
    float: left;
}

#visit {
    height: 3em;

    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0em;

    text-transform: uppercase;
    font-size: 120%;
    font-weight: 700;

    font-style: italic;

    animation: levitate 1s infinite alternate;
}

.section {
    margin-bottom: 2em;
}

#landing {
    padding-top: 2%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    font-size: 120%;
    font-weight: 400;
}

#intro p {
    font-style: italic;
}

#articleinput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
}

#articleinput input {
    width: 90%;
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Ubuntu Mono;
    font-size: 1em;
    /* color: var(--dim); */
    border: 1px solid var(--border);
    border-radius: 2em;

    transition: 0.4s;
}

#articleinput input:hover, #articleinput input:focus {
    border: 1px solid #adabab;

    transition: 0.4s;
}

#articleinput input:focus {
    outline: none;
}

::placeholder {
    color: var(--border);
}

#drop_zone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
}

#map {
    width: 100%;
    height: 100%;
}

@media screen and (max-aspect-ratio: 1/1) {
    h1 {
        text-align: center;
    }
    
    main {
        padding-left: 1em;
        padding-right: 1em;
        margin: 0em;
        width: 90%;
    }

    #intro {
        font-size: 100%;
    }

    #visit {
        position: initial;
    }
}