main {
    height: initial;
}

strong {
    font-size: 18px;
    font-family: Ubuntu;
    letter-spacing: 1px;
    color: var(--white);
}

#newsgrid {
    margin-top: 2em;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    height: 60vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    width: 100%;
    margin: 0 auto;
}

.grid-item {
    /* float: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    margin: 1em;

    transition: 0.2s;
}

.grid-item a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    width: 100%;
    height: 100%;

    transition: 0.4s;

    /* border-radius: 1em; */

    object-fit: cover;
}

.grid-item-image {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80%;

    cursor: pointer;

    background: black;
    /* border-radius: 1em; */
}

.grid-item-image:hover>img {
    opacity: 0.8;
}

.grid-item-description {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    /* text-transform: ; */
    font-family: Ubuntu;
    font-size: 1em;
    font-weight: 400;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    color: var(--gray);
}

.grid-item-description p {
    padding: 1em;
    margin: 0;
}


#result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    /* padding-bottom: 1em; */
    text-align: center;
    font-size: 3em;
    height: auto;
}

#result b {
    text-align: left;
    width: 100%;
}

#result hr {
    width: 100%;
    height: 0;
    padding: 0;
    margin: 1em;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .row {
        flex-direction: column;
        height: initial;
    }

    .grid-item {
        width: 100%;
        height: 50vh;
    }

    #newsgrid {
        margin: 0;
    }

    hr {
        margin: 0.5em;
        margin-bottom: 0;
    }
}